body {
    background-color: #3C3744;
    color: #FBFFF1;
    display: flex;
    /* height: 1000vh; */
}

#main-content {
    margin: auto;
}

#navbar {
    width: 70px;
    height: 60vh;
    text-align: center;
    position: fixed;
    transform: translateY(-5px);
    border-radius: 25px;
    user-select: none;
}

#navbar.show {
    background-color: #28242d;
    transition: 1s ease;
    height: 60vh;
}

#navbar.hide {
    background-color: #3C3744;
    transition: 1s ease;
    height: 1vh;
}

#menu-icon {
    margin-bottom: 14vh;
    width: 50px;
    padding-top: 30%;
}

#menu-icons img {
    width: 40px;
    margin-top: 1vh;
    margin-left: 1%;
}

#info {
    width: 100%;
    text-align: center;
}

#dolly-camera {
    border-radius: 25px;
}