body {
    background-color: #3C3744;
    color: #FBFFF1;
    display: flex;
}

#navbar {
    width: 70px;
    height: 60vh;
    text-align: center;
    position: fixed;
    transform: translateY(2vh);
    border-radius: 25px;
}

#main-content {
    margin: auto;
}

#menu-icon {
    margin-bottom: 12vh;
    width: 50px;
    padding-top: 50%;
}

#menu-icons {
    display: none;
}

#menu-icons.show {
    transition: 0.5s;
    display: block !important;
}

#menu-icons.hide {
    transition: 0.5s;
    display: none !important;
}

#menu-icons img {
    width: 40px;
    margin-top: 1vh;
    margin-left: 1%;
}

#info {
    width: 100%;
    text-align: center;
}