body {
    text-align: center;
}

#socials {
    margin-top: 5%;
}

#socials a {
    padding: 2%;
}

#contact-form {
    padding: 5%;
    display: grid;
    columns: 1;
    row-gap: 15%;
}

input, textarea {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    background-color: #133667;
    color: #DFC2F2;
    border: #FBFFF1 solid 2px;
    border-radius: 25px;
    width: 40vw;
    height: 5vh;
    text-align: center;
    font-size: 1em;
}

#submit {
    width: 20vw;
}

#submit:hover {
    background-color: #102d57;
    transition: 1s ease;
}

#submit:active {
    background-color: #0e2649;
    border-color: #DFC2F2;
    transition: 0.1s ease;
}

input::placeholder, textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: #DFC2F2;
    opacity: 0.9;
}

input:-webkit-autofill { 
    transition: 1s 5000s; 
}

#message {
    resize: none;
    padding: 1.5%;
    height: 17vh;
    text-align: left;
}