body {
    text-align: center;
}

#animation-selection {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation {
    width: 60%;
    margin: auto;
}

#play-button {
    width: 5vw;
    position: absolute;
    left: 47.5%;
    opacity: 0.75;
}

#statement {
    width: 75%;
    margin: auto;
    font-size: 1.1em;
}

a {
    color: #FBFFF1;
}

a::after {
    color: #FBFFF1;
}